@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../font/Gilroy-Regular.woff2) format("woff2"),
       url(../font/Gilroy-Regular.woff) format("woff");   
}
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../font/Gilroy-Medium.woff2) format("woff2"),
       url(../font/Gilroy-Medium.woff) format("woff");          
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../font/Gilroy-Semibold.woff2) format("woff2"),
       url(../font/Gilroy-Semibold.woff) format("woff");
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../font/Gilroy-Bold.woff2) format("woff2"),
       url(../font/Gilroy-Bold.woff) format("woff");

}

@font-face {
  font-family: Gilroy;
  src: url(../font/Gilroy-Extrabold.woff2) format("woff2"),
       url(../font/Gilroy-Extrabold.woff) format("woff");
}

@font-face {
  font-family: Fredoka One;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../font/FredokaOne-Regular.woff2) format("woff2"),
       url(../font/FredokaOne-Regular.woff) format("woff");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
.main-container {
  max-width: 1600px;
  margin: 0 auto;
}
.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-family: Gilroy, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  font-variant: small-caps;
  color: #678570;
}
.header {
  position: relative;
  margin-bottom: 84px;
}
.header::before {
  position: absolute;
  content: "";
  background-image: url(../img/Ellipse-header-left.png);
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 761px;
  height: 703px;
}
.header::after {
  position: absolute;
  content: "";
  background-image: url(../img/Ellipse-header-right.png);
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  width: 835px;
  height: 966px;
}
.logo {
  position: relative;
}
.logo::before {
  position: absolute;
  content: '';
  background-image: url(../img/pot.png);
  top: -55px;
  left: -170px;
  width: 135px;
  height: 230px;
}

.header__wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 55px;
}
.logo {
  margin-right: auto;
}

.nav__list {
  display: flex;
  gap: 50px;
  margin-right: 50px;
}
.nav__list-link {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #1D3B53;
  cursor: pointer;
}
.header__btn {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #1D3B53;
  cursor: pointer;
}
.header__btn:hover {
  color: #FFFFFF;
  background-color: #0CA941;
  padding: 10px 30px;
}
.promo {
  display: flex;
  gap: 30;
  margin-bottom: 160px;
}
.promo-left {
  flex-basis: 616px;
  padding-top: 120px;
}
.promo__title {
  font-family: 'Fredoka One';
  font-weight: 400;
  font-size: 72px;
  line-height: 76px;
  font-variant: small-caps;
  color: #374A3D;
  margin-bottom: 38px;
}
.promo__title span {
  color: #0CA941;
}
.promo__text {
  max-width: 480px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  font-variant: small-caps;
  color: #707070;
  margin-bottom: 40px;
}
.main__btn {
  position: relative;
} 
.main__btn::after {
  position: absolute;
  content: '';
  background-image: url(../img/promo-arrow.png);
  background-repeat: no-repeat;
  top: 0px;
  left: 235px;
  width: 112px;
  height: 88px;

}
.main__btn--promo {
  position: relative;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  font-variant: small-caps;
  color: #374A3D;
  background-color: transparent;
  border: none;
  margin-left: 40px;
  margin-bottom: 100px;
}
.main__btn--promo::before {
  position: absolute;
  content: '';
  background-image: url(../img/main-btn-border.png);
  top: -21px;
  left: -39px;
  width: 180px;
  height: 68px;
}
.main__btn--promo::after {
  position: absolute;
  content: '';
  background-image: url(../img/main-btn-vector.png);
  top: 6px;
  left: 87px;
  width: 18px;
  height: 11px;
}
.promo__cactus {
  position: relative;
  margin-bottom: 60px;
}
.promo-left__img {
  position: absolute;
  top: -111px;
  left: 345px;
}
.promo-right {
  position: relative;
  flex-basis: 698px;
}
.promo__portrait {
  position: absolute;
  top: 0;
  left: 85px;
  z-index: 3;
}
.promo-right::before {
  position: absolute;
  content: '';
  background-image: url(../img/promo-right-bg.png);
  top: 265px;
  left: -292px;
  width: 514px;
  height: 514px;
  z-index: 1;
}
.promo-right::after {
  position: absolute;
  content: '';
  background-image: url(../img/portrait-bg.png);
  top: 30px;
  left: 12px;
  width: 694px;
  height: 598px;
  z-index: 2;

}
