@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../font/Gilroy-Regular.woff2) format("woff2"),
       url(../font/Gilroy-Regular.woff) format("woff");   
}
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../font/Gilroy-Medium.woff2) format("woff2"),
       url(../font/Gilroy-Medium.woff) format("woff");          
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../font/Gilroy-Semibold.woff2) format("woff2"),
       url(../font/Gilroy-Semibold.woff) format("woff");
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../font/Gilroy-Bold.woff2) format("woff2"),
       url(../font/Gilroy-Bold.woff) format("woff");

}

@font-face {
  font-family: Gilroy;
  src: url(../font/Gilroy-Extrabold.woff2) format("woff2"),
       url(../font/Gilroy-Extrabold.woff) format("woff");
}

@font-face {
  font-family: Fredoka One;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../font/FredokaOne-Regular.woff2) format("woff2"),
       url(../font/FredokaOne-Regular.woff) format("woff");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}
body {
  font-family: Gilroy, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  font-variant: small-caps;
  color: #678570;
}
.header {
  position: relative;
  margin-bottom: 45px;
}
.header::before {
  position: absolute;
  content: "";
  background-image: url(../img/Ellipse-header-left.png);
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 761px;
  height: 703px;
}
.header::after {
  position: absolute;
  content: "";
  background-image: url(../img/Ellipse-header-right.png);
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  width: 835px;
  height: 966px;
}
.logo {
  position: relative;
  margin-right: auto;
}
.logo::before {
  position: absolute;
  content: '';
  background-image: url(../img/pot.png);
  top: -55px;
  left: -170px;
  width: 135px;
  height: 230px;
}
.header__wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 55px;
}
.nav__list {
  display: flex;
  gap: 50px;
  margin-right: 50px;
}
.nav__list-link {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #1D3B53;
  cursor: pointer;
}
.header__btn {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #1D3B53;
  padding: 10px 30px;
  cursor: pointer;
}
.header__btn:hover {
  color: #FFFFFF;
  background-color: #0CA941;
}
.promo {
  position: relative;
  display: flex;
  gap: 30;
  margin-bottom: 200px;
}
.promo::after {
  position: absolute;
  content: '';
  background-color: #FFFFFF;
  top: 709px;
  left: 553px;
  width: 745px;
  height: 110px;
  z-index: 4;
}
.promo-left {
  flex-basis: 616px;
  padding-top: 120px;
}
.promo__title {
  font-family: 'Fredoka One';
  font-weight: 400;
  font-size: 72px;
  line-height: 76px;
  font-variant: small-caps;
  color: #374A3D;
  margin-bottom: 38px;
}
.promo__title span {
  color: #0CA941;
}
.promo__text {
  max-width: 480px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  font-variant: small-caps;
  color: #707070;
  margin-bottom: 40px;
}
.main__btn {
  position: relative;
} 
.main__btn::after {
  position: absolute;
  content: '';
  background-image: url(../img/promo-arrow.png);
  background-repeat: no-repeat;
  top: 0px;
  left: 235px;
  width: 112px;
  height: 88px;
}
.main__btn--promo {
  position: relative;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  font-variant: small-caps;
  color: #374A3D;
  background-color: transparent;
  border: none;
  margin-left: 40px;
  margin-bottom: 100px;
}
.main__btn--promo::before {
  position: absolute;
  content: '';
  background-image: url(../img/main-btn-border.png);
  top: -21px;
  left: -39px;
  width: 180px;
  height: 68px;
}
.main__btn--promo::after {
  position: absolute;
  content: '';
  background-image: url(../img/main-btn-vector.png);
  top: 6px;
  left: 87px;
  width: 18px;
  height: 11px;
}
.promo__cactus {
  position: relative;
  margin-bottom: 60px;
}
.promo-left__img {
  position: absolute;
  top: -111px;
  left: 345px;
}
.promo-right {
  position: relative;
  flex-basis: 698px;
}
.promo__portrait {
  position: absolute;
  top: 0;
  left: 85px;
  z-index: 3;
}
.promo-right::before {
  position: absolute;
  content: '';
  background-image: url(../img/promo-right-bg.png);
  top: 265px;
  left: -292px;
  width: 514px;
  height: 514px;
  z-index: 1;
}
.promo-right::after {
  position: absolute;
  content: '';
  background-image: url(../img/portrait-bg.png);
  top: 30px;
  left: 12px;
  width: 694px;
  height: 598px;
  z-index: 2;
}
.landscape {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  background: #FFFFFF;
  box-shadow: 23px 19px 138px -45px rgba(12, 169, 65, 0.13);
  border-radius: 28px;
  z-index: 2;
  margin-bottom: 110px;
}
.landscape::before {
  position: absolute;
  content: '';
  background-image: url(../img/landscape-bg.png);
  top: -280px;
  left: -230px;
  width: 466px;
  height: 466px;
  z-index: 1;
}
.landscape__wrap {
  position: relative;
  flex-basis: 280px;
  margin-left: 160px;
}
.landscape__wrap::before {
  position: absolute;
  content: '';
  background-image: url(../img/landscape-flower.png);
  top: -150px;
  left: -260px;
  width: 288px;
  height: 350px;
}
.landscape__title {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  font-variant: small-caps;
  color: #374A3D;
  margin-bottom: 10px;
}
.landscape__text {
  font-size: 16px;
  line-height: 26px;
  color: #5B7262;
}
.landscape__list {
  display: flex;
  justify-content: space-between;
}
.landscape__list-item {
  flex-basis: 160px;
  font-size: 18px;
  line-height: 26px;
  color: #678570;
}
.landscape__list-item span {
  display: block;
  font-weight: 800;
  font-size: 60px;
  line-height: 42px;
  color: #0CA941;
  margin-bottom: 10px;
}
.gardener {
  display: flex;
  justify-content: space-between;
  gap: 56px;
  margin-bottom: 90px;
}
.gardener-left {
  position: relative;
}
.gardener-left::before {
  position: absolute;
  content: '';
  background-image: url(../img/gardener-bg-circle.png);
  background-repeat: no-repeat;
  top: -81px;
  left: -146px;
  width: 514px;
  height: 514px;
  z-index: 1;
}
.gardener-left::after {
  position: absolute;
  content: '';
  background-image: url(../img/gardener-bg-little-circle.png);
  background-repeat: no-repeat;
  top: 178px;
  left: 340px;
  width: 355px;
  height: 355px;
  z-index: 1;
}
.gardener__title {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #374A3D;
  margin-bottom: 30px;
}
.gardener__text {
  margin-bottom: 40px;
}
.main__btn--gardener {
  position: relative;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  font-variant: small-caps;
  color: #374A3D;
  background-color: transparent;
  border: none;
  margin-left: 40px;
  margin-bottom: 100px;
}
.main__btn--gardener::before {
  position: absolute;
  content: '';
  background-image: url(../img/main-btn-border.png);
  top: -21px;
  left: -39px;
  width: 180px;
  height: 68px;
}
.main__btn--gardener::after {
  position: absolute;
  content: '';
  background-image: url(../img/main-btn-vector.png);
  top: 6px;
  left: 95px;
  width: 18px;
  height: 11px;
}
.service {
  
  display: flex;
  align-items: center;
  gap: 106px;
  margin-bottom: 120px;
}
.service-left {
  flex-basis: 458px;
}
.service__title {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #374A3D;
  margin-bottom: 40px;
}
.service__text {
  margin-bottom: 30px;
}
.main__btn--service {
  position: relative;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  font-variant: small-caps;
  color: #374A3D;
  background-color: transparent;
  border: none;
  margin-left: 40px;
  margin-bottom: 100px;
}
.main__btn--service::before {
  position: absolute;
  content: '';
  background-image: url(../img/main-btn-border.png);
  top: -21px;
  left: -39px;
  width: 180px;
  height: 68px;
}
.main__btn--service::after {
  position: absolute;
  content: '';
  background-image: url(../img/main-btn-vector.png);
  top: 6px;
  left: 95px;
  width: 18px;
  height: 11px;
}
.service-right {
  flex-basis: 900px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.service__card-one,
.service__card-two,
.service__card-three {
  max-width: 268px;
  background: #FFFFFF;
  box-shadow: 8px 9px 42px rgba(12, 169, 65, 0.12);
  border-radius: 10px;
}
.service__card-wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.service__card-img {
  display: block;
  margin: 0 auto 15px;
}
.service__card-title {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  font-variant: small-cap;
  color: #374A3D;
}
.service__card-text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 20px 15px;
}/*
.service__card-one {
  position: relative;
  z-index: 3;
}
.service__card-one::before {
  position: absolute;
  content: '';
  background-image: url(../img/yellow-circle-bg-service.png);
  top: 10px;
  left: 122px;
  width: 268px;
  height: 264px;
  z-index: 1;
}
.service__card-one::after {
  position: absolute;
  content: '';
  background-image: url(../img/oval-little-red.png);
  background-repeat: no-repeat;
  top: -23px;
  left: 223px;
  width: 103px;
  height: 90px;
  z-index: 2;
}
.service__card-two {
  position: relative;
  z-index: 3;
}
.service__card-two::before {
  position: absolute;
  content: '';
  background-image: url(../img/green-circle-bg-service.png);
  top: 153px;
  left: 158px;
  width: 268px;
  height: 264px;
  z-index: 1;
}
.service__card-two::after {
  position: absolute;
  content: '';
  background-image: url(../img/oval-little-green.png);
  background-repeat: no-repeat;
  top: 254px;
  left: 188px;
  width: 103px;
  height: 90px;
  z-index: 2;
}
.service__card-three {
  position: relative;
  z-index: 3;
}
.service__card-three::before {
  position: absolute;
  content: '';
  background-image: url(../img/green-circle-bg-service.png);
  top: 10px;
  left: 164px;
  width: 268px;
  height: 264px;
  z-index: 1;
}
.service__card-three::after {
  position: absolute;
  content: '';
  background-image: url(../img/oval-little-green.png);
  background-repeat: no-repeat;
  top: 67px;
  left: -69px;
  width: 103px;
  height: 90px;
  z-index: 2;
} */
.service {

  background-image: url(../img/yellow-circle-bg-service.png),
   url(../img/green-circle-bg-service.png),
   url(../img/green-circle-bg-service.png);
   background-repeat: no-repeat;
   background-position: 398px -216px, 452px -27px, 474px -77px;
}

.service-right {
  background-image: url(../img/oval-little-red.png),
  url(../img/oval-little-green.png),
  url(../img/oval-little-green.png);
  background-repeat: no-repeat;
  background-position: 230px 126px, 217px 391px, 502px 253px;
}


.choose {
  padding-top: 10px;
  margin-bottom: 130px;
}
.choose__title {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  font-variant: small-caps;
  color: #374A3D;
  margin-bottom: 20px;
}
.choose__text {
  max-width: 500px;
  text-align: center;
  margin: 50px auto;
}
.choose__wrap {
  display: flex;
  justify-content: space-between;
}
.choose__card {
  max-width: 360px;
  background: #FFFFFF;
  border: 0.5px solid rgba(0, 0, 0, 0.36);
  border-radius: 37px;
  padding: 30px 40px;
}
.choose__card-img {
  display: block;
  margin: 0 auto;
}
.choose__card-title {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  font-variant: small-caps;
  color: #374A3D;
  margin-bottom: 10px;
}
.choose__card-comment {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  font-variant: small-caps;
  color: #678570;
  padding-left: 150px;
  margin-bottom: 20px;
}
.choose__card-comment::before {
  position: absolute;
  content: '';
  background-image: url(../img/stars.png);
  background-repeat: no-repeat;
  top: 3px;
  left: 15px;
  width: 145px;
  height: 25px;
}
.choose__card-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.choose__card-price {
  font-weight: 400;
  font-size: 12px;
  line-height: 32px;
}
.choose__card-price span {
  display: block;
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  font-variant: small-caps;
  color: #0CA941;
}
.choose__card-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background: #FFFFFF;
  border: 0.5px solid rgba(55, 74, 61, 0.36);
  border-radius: 10px;
  padding: 10px 20px;
}
.subscribe {
  position: relative;
  background: #F8F8F8;
  border-radius: 19px;
  padding-top: 95px;
  padding-bottom: 130px;
  margin-bottom: 130px;
}
.subscribe::before {
  position: absolute;
  content: '';
  background-image: url(../img/subscribe-bg-yellow.png);
  background-repeat: no-repeat;
  top: 297px;
  left: -280px;
  width: 414px;
  height: 414px;
}
.subscribe::after {
  position: absolute;
  content: '';
  background-image: url(../img/subscribe-bg-green.png);
  background-repeat: no-repeat;
  top: -133px;
  left: 780px;
  width: 514px;
  height: 514px;
}
.subscribe__title {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  font-variant: small-caps;
  color: #374A3D;
  margin-bottom: 30px;
}
.subscribe__text {
  width: 620px;
  margin: 0 auto 50px;
  text-align: center;
}
.subscribe__wrap {
  text-align: center;
}
.subscribe__form {
  position: relative;
}
 input[type="text"] {
  width: 658px; 
  height: 82px;
  padding-left: 20px;
  background-color: #FFFFFF;
  border: 1px solid #0CA941;
  border-radius: 10px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  font-variant: small-caps;
  color: #C4C4C4;

 } 
 input[type="button"] {
  position: absolute;
  color: #FFFFFF;
  text-align: center;
  background-color: #0CA941;
  padding: 25px 70px;
  border: 1px solid #0CA941;
  border-radius: 10px;
  width: 222px; 
  height:82px;
  top: 0px;
  left: 691px;
  cursor: pointer;
 }
 input[type="button"]:hover {
  color: #171817;
  background-color: #93d215;
  transition: .5s;
 }
 .footer {
  position: relative;
  padding-bottom: 400px;
  border: 1px solid #FFFFFF;
 }
 .footer::before {
  position: absolute;
  content: '';
  background-image: url(../img/footer-bg-circle-green.png);
  background-repeat: no-repeat;
  top: 110px;
  left: 0px;
  width: 590px;
  height: 590px;
 }
 .footer::after {
  position: absolute;
  content: '';
  background-image: url(../img/footer-bg-circle-yellow.png);
  background-repeat: no-repeat;
  top: 95px;
  left: 958px;
  width: 590px;
  height: 590px;
 }
 .footer__logo-img {
  margin-bottom: 20px;
 }
 .footer__text {
  max-width: 300px;
  margin-bottom: 35px;
 }
 .footer__social-list {
  display: flex;
  gap: 25px;
 }
 .footer__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 436px;
 }
 .footer__wrap::before {
  position: absolute;
  content: '';
  background-image: url(../img/footer-bg-flowers.png);
  background-repeat: no-repeat;
  top: 300px;
  left: 0px;
  width: 1183px;
  height: 336px;
 }
 .footer__list-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  color: #678570;

 }
 .footer__list-link--title {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  color: #374A3D;
 }
 .footer__bg {
  width: 100%;
  height: 100vh;
  background-color: #F8F8F8;
 }


